@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@400;700&family=K2D:wght@300;600&display=swap');

        * {
            margin: 0;
            padding: 0;
            width: 100%;
        }

        /* Basic Styles */
        body {
            box-sizing: border-box;
            font-family: Inria Sans;
            line-height: 1.6;
            color: #333;
            background-color: #f8f8f8;
            max-width: 100%;
            margin: 0 auto;
        }

        /* Header Styles */
        .header-content {
            background: linear-gradient(93deg, #1B81D7 16.71%, #05B7D0 98.22%);
            color: #fff;
            width: 100%;
            max-height: 264px;
            padding-top: 100px;
            padding-bottom: 30px;
            text-align: center;
        }
        
        .header-content h1 {
            font-size: 50px;
            letter-spacing: -2.5px;
            text-align: center;
            padding-bottom: 10px;
        }
        
        .header-content p  {
            padding-bottom: 10px;
            font-size: 15px;
        }
        
        .main-content {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            box-sizing: border-box;
            padding: 70px;
            gap: 25px;
        }
        
        .umkm-container {
            width: calc(33.33% - 20px);
            border: 1px solid #178BD6;
            border-radius: 8px;
            box-sizing: border-box;
            padding: 15px;
            text-align: center;
            margin-bottom: 30px;
        }
        
        .umkm-container img {
            max-width: 100%;
            height: auto;
            border-radius: 4px;
            object-fit: cover;
        }
        
        .umkm-container h3 {
            color: #087292;
        }
        
        .umkm-container p {
            color: #555;
        }        
        .content {
            width: 100%;
        }

        .header-content {
            background: linear-gradient(93deg, #1B81D7 16.71%, #05B7D0 98.22%);
            color: #fff;
            width: 100%;
            max-height: 264px;
            padding-top: 100px;
            padding-bottom: 30px;
            text-align: center;
        }

        .header-content h1 {
            font-size: 50px;
            letter-spacing: -2.5px;
            text-align: center;
            padding-bottom: 10px;
        }

        .header-content p  {
            padding-bottom: 10px;
            font-size: 15px;
            text-align: center;
        }

        .main-content {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            box-sizing: border-box;
            padding: 70px;
        }

        .detail-card .detail {
            display: flex;
            flex-direction: row;
            align-self: flex-start;
            padding: 15px;
            border-radius: 30px;
            box-shadow: 2px 4px 8px 2px rgba(0.5, 0, 0, 0.5);
        }
        
        .left {
            padding: 30px;
        }
        
        .left img {
            height: 300px;
            border-radius: 15px;
            flex-direction: column; 
        }
        
        .small-image img {
            height: 90px;
            object-fit: cover;
            padding: 5px;
        }
        
        .small-image {
            display: flex; 
            justify-content: center; 
        }
        
        .right {
            display: flex;
            flex-direction: column;
            position: relative;
        }
        
        #title h1,
        .desc h3 {
            margin: 0;
            padding-top: 30px;
        }
        
        .desc p a{
            color: inherit;
        }

        a.button {
            width: 200px;
            background-color: rgb(17, 199, 227);
            border-radius: 15px;
            color: white;
            text-decoration: none;
            padding: 3px;
            text-align: center;
            cursor: pointer;
        }
        a.button:hover{
            box-shadow: 2px 4px 8px 2px rgba(0.5, 0, 0, 0.5);
            transition: 0.5s;
        }
        
        button:hover {
            background-color: rgb(0, 150, 170); 
        }
        
        p {
            text-align: justify;
        }
        
        .produk .title-produk{
            text-align: center;
        }
        
        .list {
            width: 100%;
            text-align: center;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
          
        .list-item {
            flex: 0 1 calc(20% - 20px);
            padding: 20px;
            margin: 10px;
            box-shadow: 2px 4px 8px 2px rgba(0.5, 0, 0, 0.5);
            border-radius: 5px;
        }
        
        .name h2 {
            margin-top: 10px;
            margin-bottom: 0;
        }
        
        .list-item h3 {
            margin-top: 0;
        }
        
        .list img {
            height: 170px;
            border-radius: 5px;
            object-fit: cover;
        }

/* Styles for the modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
    border-radius: 5px;
}
  
.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}
  
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.rating-container {
    /* display: flex; */
    align-items: center;
    margin-bottom: 10px;
    text-align: center;
    justify-content: center;
}

.star-rating {
    display: flex;
    flex-direction: row-reverse;  
}
  
.star-rating input {
    display: none;
}
  
.star-rating label {
    font-size: 25px;
    padding: 5px;
    color: #ccc;
    cursor: pointer;
}
  
.star-rating label:hover,
.star-rating label:hover ~ label {
    color: #ffc107; /* Highlight on hover */
}
  
.star-rating input:checked ~ label {
    color: #ffc107; /* Highlight the selected stars */
}

.star-rating input[type="radio"]:checked + label {
    color: #ffc107;
}
  

form {
    display: flex;
    flex-direction: column; /* Untuk menempatkan tombol di akhir kolom */
}

/* Styles for the Submit button */
button {
    padding: 10px 20px; /* Sesuaikan padding sesuai keinginan Anda */
    font-size: 16px; /* Sesuaikan ukuran font sesuai keinginan Anda */
    background-color: #087292;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 30%;
    align-self: flex-end; /* Menempatkan tombol di sebelah kanan */
    margin-top: 10px;
}
  
button:hover {
    background-color: #06506d;
}

.Komentar {
    width: 80%;
    margin: auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
  
.comments-section {
    margin-top: 20px;
}
  
.comments-section h2 {
    color: #333;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
}
  
#commentList {
    list-style-type: none;
    padding-left: 0;
}
  
#commentList li {
    border-bottom: 1px solid #ddd;
    padding: 15px 0;
    display: flex;
    flex-direction: column;
}

.rating {
    font-size: 20px;
    margin-bottom: 5px;
}

.date {
    color: #777;
    font-size: 14px;
    margin-bottom: 5px;
}

.comment {
    margin-top: 5px;
}
  
#commentList li strong {
    color: #333;
    font-size: 16px;
    font-weight: 600;
}
  
#commentList li:not(:last-child) {
    margin-bottom: 20px;
}

/* Pop Up Laporkan */
.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.popup-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    height: 30%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

textarea, input {
    width: 100%;
    margin-top: 5px;
}

button {
    margin-top: 10px;
    padding: 8px 16px;
    cursor: pointer;
    text-align: center;
}

.popup-content h2, .popup-content button {
    /* Mengatur elemen di tengah secara horizontal */
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
