@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@400;700&family=K2D:wght@300;600&display=swap');
* {
    margin: 0;
    padding: 0;
    width: 100%;
}

/* Basic Styles */
body {
    box-sizing: border-box;
    font-family: Inria Sans;
    line-height: 1.6;
    color: #333;
    background-color: #f8f8f8;
    max-width: 100%;
    margin: 0 auto;
}

@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@400;700&family=K2D:wght@300;600&display=swap');

* {
    margin: 0;
    padding: 0;
    width: 100%;
}

/* Basic Styles */
body {
    box-sizing: border-box;
    font-family: Inria Sans;
    line-height: 1.6;
    color: #333;
    background-color: #f8f8f8;
    max-width: 100%;
    margin: 0 auto;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

@media (max-width: 965px) {
    * {
        margin: 0;
        padding: 0;
        list-style: none;
        text-decoration: none;
    }


    section {
        background: #ffffff;
        background-position: center;
        background-size: cover;
        height: 100vh;
        width: 100%;
    }
    
    section h1 {
        text-align: center;
        padding-top: 200px;
        font-size: 60px;
        color: #004369;
    }
    
    .form-container{
        width: auto !important;
        margin: 0 !important;
    }
    .hide{
        display: none;
    }
    .mini{
        max-width: 50px;
    }
}






.form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}
.form-header h2 {
    margin: 0;
    text-align: center;
    font-size: 40px;
}

.form-container {
    width:1000px;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.laporan-toko {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    text-align: center;
    width: 100px;
}

th {
    background-color: #f2f2f2;
    padding: 8px; /* Atur padding untuk mengatur jarak antar kolom */
}

tr:hover {
    background-color: #f5f5f5;
}

.aksi-btn {
    display: inline-block;
    background-color: #4CAF50; 
    color: white;
    width: 100px;
    padding: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    border-radius: 5px;
}
.warning-btn {
    display: inline-block;
    background-color: #ffc107; 
    color: white;
    width: 100px;
    padding: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    border-radius: 5px;
}


.red-btn {
    display: inline-block;
    background-color: #DC3545; 
    color: white;
    width: 100px;
    padding: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    border-radius: 5px;
}
.aksi-btn:hover {
    background-color: #008CBA; 
    color: white;
}
.red-btn:hover {
    background-color: #ba4854; 
    color: white;
}
.warning-btn:hover {
    background-color: #e7c86b; 
    color: white;
}
