@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@400;700&family=K2D:wght@300;600&display=swap');

* {
    margin: 0;
    padding: 0;
    width: 100%;
}

/* Basic Styles */
body {
    box-sizing: border-box;
    font-family: Inria Sans;
    line-height: 1.6;
    color: #333;
    background: linear-gradient(93deg, #1B81D7 16.71%, #05B7D0 98.22%);
    max-width: 100%;
    margin: 0 auto;
}

/* Header Styles */
.header {
    display: flex;
    flex: 1;
    align-items: center;
    color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 15px 0;
    z-index: 1000;
}

.logo {
    display: flex;
    padding-left: 15px;
}

.logo img {
    width: 40px;
    height: 40px; 
    margin-right: 10px;
}

.logo h3 {
    font-size: 1.5em;
    font-family: K2D;
}

.quickForm {
    margin-top: 100px;
    background-color: #fff;
    width: 40%;
    padding: 40px 15px;
    border-radius: 10px;
    font-size: 15px;
    display: grid;
    grid-template-columns: repeat(1, 90%);
    margin-top: 10%;
    margin-left: 50%;
}

.quickForm h2 {
    text-align: center;
}

.form-group {
    margin-left: 5%;
}

.form-group .form-control {
    height: 43px;
    border-radius: 3px;
    border-color: #000;
    padding: 3px 10px;
}

.bawah {
    padding: 20px;
    text-align: center;
}

.bawah .btn {
    height: 43px;
    background-color: #178BD6;
    color: #fff;
    border-color: #178BD6;
    border-radius: 3px;
    margin: 20px 0;
}
