@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@400;700&family=K2D:wght@300;600&display=swap');
* {
    margin: 0;
    padding: 0;
    width: 100%;
}

/* Basic Styles */
body {
    box-sizing: border-box;
    font-family: Inria Sans;
    line-height: 1.6;
    color: #333;
    background-color: #f8f8f8;
    max-width: 100%;
    margin: 0 auto;
}

@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@400;700&family=K2D:wght@300;600&display=swap');

* {
    margin: 0;
    padding: 0;
    width: 100%;
}

/* Basic Styles */
body {
    box-sizing: border-box;
    font-family: Inria Sans;
    line-height: 1.6;
    color: #333;
    background-color: #f8f8f8;
    max-width: 100%;
    margin: 0 auto;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

/* Header Styles */
.header {
    display: flex;
    flex: 1;
    align-items: center;
    background-color: #fff;
    color: #06546f;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 15px 0;
    z-index: 1000;
}

.logo {
    display: flex;
    padding-left: 15px;
}

.logo img {
    width: 40px;
    height: 40px; 
    margin-right: 10px;
}

.logo h3 {
    font-size: 1.5em;
    font-family: K2D;
}

.menu {
    text-align: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(5);
    justify-content: flex-end;
}

.menu li a:hover {
    text-decoration: none;
    background-color: #087292;
    border-radius: 15px;
    padding: 8px;
    color: #fff;
    transition: 0.3s;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu ul li {
    display: inline;
    margin-right: 20px;
}

.menu ul li a {
    text-decoration: none;
    color: #06546f;
}

.menu ul li .fa-solid {
    padding: 0;
    width: 20px;
}

#logoUser:hover{
    background-color: none !important;
}

.main-sidebar {
    display: none;
}
a.edit {
    background-color: #4CAF50; /* Green */
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
  }
  a.edit:hover{
    background-color: #42c347;
  }
  
  a.delete {
    background-color: #f44336; /* Red */
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
  }
  a.delete:hover{
    background-color: #d33125;
  }

@media (max-width: 965px) {
    * {
        margin: 0;
        padding: 0;
        list-style: none;
        text-decoration: none;
    }
    .action-buttons{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }
    a.btn{
        max-width: 50px;
    }
    .menu {
        display: none;
    }

    .main-sidebar {
        display: flex;
        flex-wrap: nowrap;
        height: 100%;
        overflow-x: auto;
        overflow-y: hidden;
        margin: 0;
        padding: 0;
    }
      
    .sidebar {
        position: fixed;
        right: 0px;
        width: 250px;
        height: 100%;
        background: #06546f;
        transition: all 0.5s ease;
        top: 0;
    }
    
    .sidebar ul {
        margin-top: 80px;
    }
      
    .sidebar ul a {
        display: block;
        height: 100%;
        width: 100%;
        line-height: 65px;
        font-size: 20px;
        color: #fff;
        padding-left: 40px;
        box-sizing: border-box;
        border-top: 1px solid rgba(6, 255, 251, 0.1);
        border-bottom: 1px solid rgba(125, 134, 146, 0.302);
        transition: all 0.5s ease;
    }
    
    ul li:hover a {
        padding-right: 100px;
        background: #efe7bc;
        color: rgb(0, 0, 0);
    }
    
    .sidebar ul a i {
        margin-right: 16px;
    }
    
    
    #check {
        display: none;
    }
    
    label #btn {
        position: absolute;
        cursor: pointer;
        border-radius: 3px;
        z-index: 1111;
        right: 195px;
        top: 25px;
        font-size: 20px;
        color: #fff;
        padding: 4px 9px;
        transition: all 0.5s ease;
        width: 20px;
    }
    
    label #open {
        position: absolute;
        cursor: pointer;
        border-radius: 1px;
        font-size: 50px;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        padding: 6px 12px;
        transition: all 0.5s ease;
        width: 20px;
    }
    
    #check:checked~.sidebar {
        right:-250px;
    }
    
    #check:checked~label #open {
        right:30px;
        font-size: 20px;
    }
    
    #check:checked~label #btn {
        right:-195px;
    }
    
    section {
        background: #ffffff;
        background-position: center;
        background-size: cover;
        height: 100vh;
        width: 100%;
    }
    
    section h1 {
        text-align: center;
        padding-top: 200px;
        font-size: 60px;
        color: #004369;
    }
    
    .form-container {
        width: auto !important;
    }
}
.image{
    width: auto;
    background-color: #f5f5f5;
    padding: 20px;
    padding-bottom: 0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}
.image img {
    max-width: 500px;
    margin: auto;
    object-fit: cover;
    border-radius: 5px 50px 5px 50px;
}

.content {
    width: 100%;
}

.header-content {
    background: linear-gradient(93deg, #1B81D7 16.71%, #05B7D0 98.22%);
    color: #fff;
    width: 100%;
    max-height: 264px;
    padding-top: 100px;
    padding-bottom: 30px;
    text-align: center;
}

.header-content h1 {
    font-size: 50px;
    letter-spacing: -2.5px;
    text-align: center;
    padding-bottom: 10px;
}

.header-content p  {
    padding-bottom: 10px;
    font-size: 15px;
    text-align: center;
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 70px;
}
.message{
    max-width: 65vw;
}
.form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
}
.form-header h2 {
    margin: 0;
    text-align: center;
    font-size: 40px;
}
.form-buttons {
    display: flex;
    gap: 10px;
    align-self: flex-end;
    padding-bottom: 20px;
    justify-content: flex-end;
    
}
.form-buttons a {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    width: 100px;
    border-radius: 5px;
    margin: auto 5px;
}
input[type="submit"] {
    background-color: #4CAF50;
    text-align: center;
    text-decoration: none;
    color: white;
}
a#btnCancel {
    background-color: #f44336;
    text-align: center;
    text-decoration: none;
    color: white;
}

.produk {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.form-container {
    width: 1000px;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
  
.form-group {
    margin-bottom: 20px;
}
.form-group img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
  
label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}
  
input,
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
  
select {
    cursor: pointer;
}
  
input[type="file"] {
    cursor: pointer;
}
  
textarea {
    height: 100px;
    resize: vertical;
}

/* POP UP PRODUK */
/* Styles for the popup */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: #fefefe;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    width: 20%;
}

.popup-edit-content {
    background-color: #fefefe;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    width: 20%;
    margin-top: 40vh;
    margin-left: 80vh;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: black;
}

.data-produk h2 {
    margin: 0;
    text-align: center;
    font-size: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.data-produk {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    text-align: center;
    width: 100px;
}

th {
    background-color: #f2f2f2;
    padding: 8px; /* Atur padding untuk mengatur jarak antar kolom */
}
tr td{
    padding: 8px;
}

tr:hover {
    background-color: #f5f5f5;
}

button {
    cursor: pointer;
    padding: 5px;
    margin-right: 5px;
    border: none;
    border-radius: 3px;
    font-size: 14px;
    width: 75px;
    gap: 5px;
}

.edit-btn {
    background-color: #4CAF50; /* Warna hijau */
    color: white;
    
}

.delete-btn {
    background-color: #FF0000; /* Warna merah */
    color: white;
    
}
@media (max-width: 768px) {
    .message{
        max-width: 86vw;
    }
    .hidden{
        display: none;
    }
}
